/* Container for the Add Admin form */
.addAdmin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #ffffff 0%, #776767 100%); /* Gradient background */
  padding: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Card-like form container */
.formGroup {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.heading {
  font-size: 28px;
  color: #fff;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

/* Input styling */
.input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: 1px solid #ee0909;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Soft shadow */
}

/* Input focus styling */
.input:focus {
  border-color: #6a11cb;
  box-shadow: 0 4px 10px rgba(106, 17, 203, 0.3);
  outline: none;
}

/* Label styling */
label {
  font-size: 14px;
  color: #f10303;
  margin-bottom: 8px;
  display: block;
  font-weight: bold;
}

/* Button styling */
.submitButton {
  width: 10%;
  padding: 15px;
  background: linear-gradient(135deg, #15ff00, #2575fc);
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 8px 16px rgba(106, 17, 203, 0.2); /* Button shadow */
}

.submitButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 24px rgba(106, 17, 203, 0.3);
}

/* Error message styling */
.error {
  color: #f44336;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

/* Success message styling */
.success {
  color: #34a853;
  font-size: 14px;
  margin-bottom: 15px;
  text-align: center;
}

/* Responsive for smaller devices */
@media (max-width: 480px) {
  .heading {
    font-size: 24px;
  }

  .input, .submitButton {
    font-size: 14px;
  }
}
